**/node_modules

**/dist

**/.env

**/*.log

.env
.DS_Store
.claude
.vscode
out

exercice/corrige/
docs/cours
docs/securite/
docs/environnement-de-production/3-installation-alternative-avec-https.md
CLAUDE.md