DB_HOST=db #NE PAS MODIFIER
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

#32 caractères minimum
JWT_SECRET=generate-a-random-secret-with-at-least-32-characters
JWT_EXPIRES_IN=15m

CORS_ORIGINS=http://localhost # NE PAS MODIFIER

#32 caractères minimum
SESSION_SECRET=generate-another-random-secret-with-at-least-32-characters

SEED_ADMIN_LOGIN=jean@dupont.fr
SEED_ADMIN_PASSWORD=
SEED_TOURIST_LOGIN=john@doe.com
SEED_TOURIST_PASSWORD=
